fastapi
uvicorn
jinja2
python-multipart
pandas>=2.0.0
numpy>=1.22.4
scikit-learn>=1.3.0
python-dotenv>=1.0.0
PyYAML>=6.0.1
tqdm>4
pulp>=2.7.0
httpx<1,>=0.23.0
openai>=1.0.0
itsdangerous>=2.1.2
requests
psycopg[binary,pool]==3.2.9
